<div class="row">
    <div class="col-lg-12">
        <% review = Review.find_by_id(params[:id]) %>
        <% if current_user?.id == review.user_id %>
        <h1>Edit Review</a></h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action='/reviews/<%= params[:id] %>/edit' method="POST">
            <div class="form-group">
                <input type="hidden" name="_method" value="patch">
                <input type="hidden" name="user_id" value="<%= review.user_id %>">
                <input type="text" class="form-control form-control-lg" id="review_title" name="review_title" value="<%= review.review_title %>">
            </div><br>
            <div class="form-group" placeholder="Review Cigar:">
                <input type="text" class="form-control form-control-lg" id="review_cigar" name="review_cigar" value="<%= review.review_cigar %>">
            </div><br>
            <div class="form-group" placeholder="Review Rating">
                <select class="form-control form-control-lg" id="review_rating" name="review_rating" value="<%= review.review_rating %>">
                    <% if review.review_rating == "1" %>
                        <option value="1" selected>Rating: 1 (worst)</option>
                    <% else %>
                        <option value="1">Rating: 1 (worst)</option>>
                    <% end %>
                    <% if review.review_rating == "2" %>
                        <option value="2" selected>Rating: 2</option>
                    <% else %>
                        <option value="2">Rating: 2</option>>
                    <% end %>
                    <% if review.review_rating == "3" %>
                        <option value="3" selected>Rating: 3</option>
                    <% else %>
                        <option value="3">Rating: 3</option>>
                    <% end %>
                    <% if review.review_rating == "4" %>
                        <option value="4" selected>Rating: 4</option>
                    <% else %>
                        <option value="4">Rating: 4</option>>
                    <% end %>
                    <% if review.review_rating == "5" %>
                        <option value="5" selected>Rating: 5 (best)</option>
                    <% else %>
                        <option value="5">Rating: 5 (best)</option>>
                    <% end %>
                </select>
            </div><br>
            <div class="form-group">
                <textarea id="review" class="form-control form-control-lg" name="review_description" rows="5"><%= review.review_description %></textarea>
            </div><br>
            <div class="form-group text-center">
                <input type="submit" id="submit" class="btn btn-primary btn-lg btn-block" value="Save">
            </div><br>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="/reviews/<%= params[:id] %>" method="POST">
            <div class="form-group text-center">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" id="submit" class="btn btn-secondary btn-lg btn-block" value="Delete">
            </div>
        </form>
    </div>
</div>
<% else %>
    <h1 class="text-center">You do not have permission to edit this review</h1>
<% end %>