<h1>Reviews:</h1>

<% @reviews.each do |review| %>
    <h3><%= review.review_title %></h3>
    <h4><%= review.review_cigar %> &nbsp; | &nbsp; Rating: <%= review.review_rating %></h4>
    <p>Review: <%= review.review_description %></p>
    <p>Author: <%= current_user?.user_name %> &nbsp; | &nbsp; Published: <%= review.created_at %>
    <% if review.user_id == session[:user_id] %>
         &nbsp;  |  &nbsp;  <a href='/reviews/<%= review.id %>/edit'>Edit</a></p>
    <% end %>
<% end %>